<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed openMenu" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="searchBox displayNone">
        </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navBarMenu">
            <li><a href="@Url.Action("index","buildings")">Buildings</a></li>
            <li><a href="@Url.Action("index","inventory")">Inventory</a></li>
            <li><a href="@Url.Action("index","department")">Departments</a></li>
            <li><a href="@Url.Action("index","rooms")">Rooms</a></li>
            <li><a href="@Url.Action("index","users")">Users</a></li>
            <li><a href="@Url.Action("index","reports")">Attachments</a></li>
            <li><a href="@Url.Action("index","certifiedreport")">IAC Reports</a></li>
            <li><a href="@Url.Action("index","transaction")">Transactions</a></li>
            <li><a href="@Url.Action("index","Location")">Location</a></li>
        </ul>
    </div>
</div>