@{
    ViewBag.Title = "Home Page";
}

<div class="white-space">
    <div class="main-catagories">
        <h1>Home</h1>
        <div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","buildings")">
                                <img src="@Url.Content("~/Content/images/building-icon.png")" alt="building icon" />
                            </a>
                            <p>Building</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","Inventory")">
                                <img src="@Url.Content("~/Content/images/inventory-icon.png")" alt="inventory icon" />
                            </a>
                            <p>Inventory</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","Department")">
                                <img src="@Url.Content("~/Content/images/department-icon.png")" alt="departments icon" />
                            </a>
                            <p>Departments</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","Rooms")">
                                <img src="@Url.Content("~/Content/images/rooms-icon.png")" alt="rooms icon" />
                            </a>
                            <p>Rooms</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("Index","Users")">
                                <img src="@Url.Content("~/Content/images/users-icon.png")" alt="users icon" />
                            </a>
                            <p>Users</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","Location")">
                                <img src="@Url.Content("~/Content/images/clients-icon.png")" alt="clients icon" />
                            </a>
                            <p>Location</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","Reports")">
                                <img src="@Url.Content("~/Content/images/reports-icon.png")" alt="reports icon" />
                            </a>
                            <p>Attachments</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("Index","CertifiedReport")">
                                <img src="@Url.Content("~/Content/images/attachments-icon.png")" alt="attachments icon" />
                            </a>
                            <p>IAC Reports</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 fullDiv">
                        <div class="categoryDiv">
                            <a href="@Url.Action("index","transaction")">
                                <img src="@Url.Content("~/Content/images/transections-icon.png")" alt="transections icon" />
                            </a>
                            <p>Transactions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>